footer {
  height: 50vh;
  width: 98.5vw;
  background-color: #0e0e1a;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer-container span {
  font-size: 1.5rem;
}
.footer-container p {
  font-size: 1rem;
}
.footer-container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hr-row {
  width: 95%;
  margin-top: 70px;
  border: none;
  color: #333; /* old IE */
  background-color: #333;
  height: 1px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom span {
  font-size: 0.8rem;
  margin-top: 50px;
}

@media only screen and (max-width:1440px){
   footer{
    width: 98vw;
   }
}

@media only screen and (max-width:1440px){
   footer{
      width: 100vw;
   }
}

@media only screen and (max-width:1024px){
  footer{
    position: relative;
    bottom: 0%;
    width: 99.5vw;
  }
  .hr-row{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    height: 50vh;
    width: 99.3vw;
    background-color: #0e0e1a;
    position: relative;
    bottom: 0%;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-container span {
    font-size: 1.3rem;
  }
  .footer-container p {
    font-size: 15px;
  }
  .hr-row {
    width: 90%;
    margin-top: 40px;
    border: none;
    color: #333; /* old IE */
    background-color: #333;
    height: 1px;
  }
  .bottom span {
    font-size: 1rem;
    margin-top: 10px;
  }
  .right {
    font-size: 15px;
    position: relative;
    top: -22px;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    height: 50vh;
    width: 99.3vw;
    background-color: #0e0e1a;
    position: relative;
    bottom: 0%;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-container span {
    font-size: 1rem;
  }
  .footer-container p {
    font-size: 12px;
  }
  .hr-row {
    width: 90%;
    margin-top: 40px;
    border: none;
    color: #333; /* old IE */
    background-color: #333;
    height: 1px;
  }
  .bottom span {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .right {
    font-size: 12px;
    position: relative;
    top: -22px;
  }
}



